<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>API Calls</title>
    <!-- Favicon-->
    <link href="/images/pepe-16x16.png" rel="icon" type="image/x-icon">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/style2.css" rel="stylesheet"/>
</head>

<body>
<nav th:insert="~{fragments::navbar}"></nav>

<section style="margin-top: 60px;">



    <form class="form-center" action="/API" method="post">
        <div>
            <button class="bearButton" style="margin-left: 5px;">Generate random activity</button>
            [[${boredActivity}]] <a th:text="${boredLink}" th:href="${boredLink}"></a>
        </div>

    </form>

    <form class="form-center" th:action="@{/API/} + ${dotaMatchId}" method="post">
        <div>
            <label for="dotaMatchId">Get duration of dotagame using match id</label>
            <input type="text" id="dotaMatchId" name="dotaMatchId">
            <input type="submit" value="Submit">
            <div>
                Game lasted: [[${dotaGameDuration}]] seconds. <a th:text="@{https://www.dotabuff.com/matches/} + ${dotaMatchId}" th:href="@{https://www.dotabuff.com/matches/} + ${dotaMatchId}"></a>
            </div>
        </div>

    </form>

</section>

</body>
</html>