<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>API Calls</title>
    <!-- Favicon-->
    <link href="/images/pepe-16x16.png" rel="icon" type="image/x-icon">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/style2.css" rel="stylesheet"/>
</head>

<body>
<nav th:insert="~{fragments::navbar}"></nav>

<section style="margin-top: 60px;">

    <button class="bearButton">Generate random activity</button>

    <form class="form-center" action="/API" method="post">

        <div style="margin-top: 50px;">BoredAPI result: [[${boredReturn}]]</div>

    </form>

</section>

</body>
</html>