<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Birthdays</title>
    <!-- Favicon-->
    <link href="/images/pepe-16x16.png" rel="icon" type="image/x-icon">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/style2.css" rel="stylesheet"/>
</head>
<body>
<nav th:insert="~{fragments::navbar}"></nav>
<header class="py-3 header">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Señor Beorno's Chateau</h1>
            <p class="lead fw-normal text-white-50 mb-0">Where dreams come to die</p>
        </div>
    </div>
</header>

<!-- Some random table-like structure!!!
<table class="table" id="table"> &lt;!&ndash;th:if="${model.personPagination != null} &ndash;&gt;
    <tr>
        <th scope="col">
            <a th:href="@{'/birthdays/page/' + ${currentPage} + '?sortField=birthday&sortDir=' + ${reverseSortDir}}"><strong>Birthday</strong></a>
        </th>
        <th scope="col">
            <a th:href="@{'/birthdays/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}"><strong>Name</strong></a>
        </th>
        <th hidden></th>
        <th hidden></th>
    </tr>
</table>-->

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            <ul th:each="person : ${personsOnCurrentPage}">
                <div class="pappabjörn" th:classappend="${someService.daysToBirthday(person) < 50 || someService.daysToNameday(person) < 50 ? 'bearSoonBirthday' : ''}">
                <a th:href="'/birthdays/' + ${person.id}">
                    <div th:text="${person.name}"></div>
                </a>

                <!--/* If the person has an image, this code will be rendered. */-->
                <a th:href="'/birthdays/' + ${person.id}">
                    <div class="img-container bearImageBorder" th:if="${person.image}">
                        <img height="150" th:src="@{|/${person.image}|}" a/>
                    </div>
                    <!--/* If the product has no image, display default Image. */-->
                    <div class="img-container bearImageBorder" th:unless="${person.image}">
                        <img height="150" th:src="@{/images/Anonymous-symbol.jpg}" width="150"/>
                    </div>
                </a>
                    <div th:inline="text">
                        <span class="bearSpan" th:text="'Birthday: '"></span>
                        [[${person.birthday}]]
                    </div> <!--"'Birthday: ' + ${person.birthday}"-->

                    <div th:inline="text">
                        <span class="bearSpan" th:text="'Next birthday: '"></span>
                        [[${someService.daysToBirthday(person)}]] days
                    </div>

                    <div th:inline="text">
                        <span class="bearSpan" th:text="'Nameday: '"></span>
                        [[${#temporals.day(person.nameday)}]]/[[${#temporals.month(person.nameday)}]]
                    </div>

                    <div th:inline="text">
                        <span class="bearSpan" th:text="'Next nameday: '"></span>
                        [[${someService.daysToNameday(person)}]] days
                    </div>

                <!--<div th:text="'Birthday: ' + ${person.birthday}"></div>
                <div th:text="'Next birthday in: ' + ${someService.daysToBirthday(person)} + ' days'"></div>
                <div th:text="'Nameday: ' + ${#temporals.day(person.nameday)} + '/' + ${#temporals.month(person.nameday)}"></div>-->

                <br>
                </div>
            </ul>

        </div>
    </div>
</section>

<!-- Pagination -->
<div class="pageViewLessBottomMargin">

    <a th:href="@{'/birthdays/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
       th:if="${currentPage != 1}">First</a>
    <span th:unless="${currentPage != 1}">First</span>&nbsp;

    <a th:href="@{'/birthdays/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
       th:if="${currentPage != 1}">Previous</a>
    <span th:unless="${currentPage != 1}">Previous</span>&nbsp;

    <!-- Show clickable pages-->
    <span th:each="i : ${#numbers.sequence(1, totalPages)}">
        <a th:href="@{'/birthdays/page/' + ${i}} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}"
           th:if="${currentPage != i}">[[${i}]]</a>
        <span th:unless="${currentPage != i}">[[${i}]]</span>&nbsp;
    </span>

    <a th:href="@{'/birthdays/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
       th:if="${currentPage < totalPages}">Next</a>
    <span th:unless="${currentPage < totalPages}">Next</span>&nbsp;

    <a th:href="@{'/birthdays/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
       th:if="${currentPage < totalPages}">Last</a>
    <span th:unless="${currentPage < totalPages}">Last</span>
</div>

<!--<div class="pageViewLessBottomMargin">Page [[${currentPage}]] of [[${totalPages}]]</div>-->
<div class="pageView">Total persons: [[${totalPersons}]]</div>


</body>
</html>